// Section 1
$backGrounColor: red;
$backGrounColorH1: #e41c6f;
$textColor: #fff;
$textColorBtn: #333;
$backGrounColorBtn: #fff;
$borderColorBtn: #333;
// End Of Section 1

// Navbar

// End Of Navbar

// Section 2
$backGrounColorSection2: #fff;
$textColorSection2: #333;
$textShaddow: #555;
$backGrounColorProgressBar:#ccc;
$colorIcon: #888;
$backGrounColorService: #777;
// End Of Section 2

// Section 3
$backGrounColorSection3: #eef;
$backGrounColorProject: #fff;
$textColorSection3: #333;
// End Of Section 3

// Section 4
$backGrounColorSection4: #333;
$textColorSection4: #fff;
$backGrounColorInput: #eef;
$textColorInput: #555;
// End Of Section 4

// Section 5
$backGrounColorSection5: #222;
$textColorCopy: #aaa;
// End Of Section 5