// Section 1
@mixin BackGroudImage {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)),
        url("../../assets/images/bg.jpg") center no-repeat;
    background-size: cover;
}

@mixin configH1 {
    font-size: 5rem;
    color: $textColorSection2;
    text-transform: uppercase;
    left: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid $textColorSection2;
    text-shadow: .2rem .2rem .5rem $textShaddow;
}
// End Of Section 1